<%- include('./includes/header.ejs') %>
</head>
<body>
    <h1>Welcome to Notes App</h1>

    <div class="container">
        <p>
            <label for="email">Email:</label>
            <br>
            <input type="email" name="email" id="email" placeholder="Enter your email">
        </p>

        <p>
            <label for="password">Password:</label>
            <br>
            <input type="password" name="password" id="password" placeholder="Enter your password">
        </p>

        <p>
            <input type="button" value="Login" id="login">
        </p>
    </div>

    <div>
        <p>Don't have an account? <a href="/">Register</a></p>
    </div>

    <%- include('./includes/js-includes.ejs', {js_file: js_file}) %>
</body>
</html>